<header>
    <link rel="stylesheet" href="/v1/css/header.css">
    <div style="display: flex; justify-content: space-between; align-items: center;">
       <a href="/">
            <img src="/v1/img/logo.jpeg" alt="Project Logo" style="height: 50px;"> 
       </a> 

        <!-- Container for authentication links -->
        <div class="auth-links">
            <a href="/v1/signupPage" id="signupLink">
                <button id="signupButton" class="btn btn-primary" onclick="event.stopImmediatePropagation()">Sign Up</button>
            </a>
            <a href="/v1/signinPage" id="loginLink">
                <button id="loginButton" class="btn btn-primary" onclick="event.stopImmediatePropagation()">Sign In</button>
            </a>
        </div>
    </div>
</header>



