{{ define "content" }}
    {{ if eq .Title "Signup Page" }}
        {{block "signupPage" .}} {{ end }}
    {{ else if eq .Title "Sign In Page" }}
        {{block "signinPage" .}} {{ end }}
    {{ else }}
        <div id="content"class="main-content">  
            <button id="button1" class="btn btn-primary">Call API  Welcome</button>
            <a href="/v1/signupPage">
                <button id="button2" class="btn btn-secondary" onclick="event.stopImmediatePropagation()">Another Action</button>
            </a>
        </div>
    
    {{ end }}
{{ end }}