{{ define "signupPage" }}
<div class="signupPage">
    <link rel="stylesheet" href="/v1/css/signupPage.css">
    <h1>Sign Up</h1>
    <form action="/v1/signup" method="post">
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="firstname" required>
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname">
        <label for="email">Email ID:</label>
        <input type="email" id="email" name="email" required>
        <label for="phone">Phone Number:</label>
        <input type="tel" id="phone" name="phone" required placeholder="9999999999">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        <button type="submit">Sign Up</button>
    </form>
</div>
{{ end }}


