{{ define "signinPage" }}   
<div class="signinPage">
    <link rel="stylesheet" href="/v1/css/signinPage.css">
    <h1>Log In</h1>
    <form action="/v1/signin" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Log In</button>
        <p>Don't have an account? <a href="/v1/signupPage">Sign Up</a></p>
    </form>
</div>
{{ end }}   
