<html></html>
    <head>
        <title>Homepage</title>
    </head>
    <body>
        <button id="button1" class="btn btn-primary">Call API  Welcome</button>
        <button id="button2" class="btn btn-secondary">Another Action</button>
        <script>
            document.getElementById('button1').addEventListener('click', function() {
                fetch('/v1/welcome')
                    .then(response => response.json())
                    .then(data => alert(JSON.stringify(data)));
            });
            document.getElementById('button2').addEventListener('click', function() {
                alert('Button 2 clicked!');
            });
        </script>
    </body>
</html>